@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

.nav-item {
  font-size: 18px;
  justify-content: center;
  text-align: center;
  align-items: center !important;
  text-align: left !important;
}

a {
  color: #22559c;
}

.subheading {
  text-align: center;
  font-weight: 600;
}

.title {
  justify-content: center;
  text-align: center;
  margin: 0.3em 0em 2em 0em;
}

.intro {
  text-align: center;
  padding: 6em 1em 3em 1em;
  justify-content: center;
}

.intro h1 {
  font-weight: 600;
  font-size: 36px;
  color: #22559a;
  margin: 0em 0em 0em 0em;
}

.intro h6 {
  font-size: 14px;
}

.intro .register-btn {
  margin: 0.5em 0em 0em 0em;
  padding: 1em 6em 0em 6em;
  background-color: #22559c;
  border: #22559a 1px solid;
}

.intro .register-btn-text {
  font-size: 18px;
}

.intro img {
  max-width: 100%;
  margin: 0.5em 0em 0.5em 0em;
}

.intro .intro-txt {
  font-size: 18px;
}

.intro .slack-btn {
  margin: 0.5em 0em 0em 0em;
  padding: 1em 5em 0em 5em;
  background-color: #fff;
  border: #22559a 1px solid;
}

.intro .slack-btn-text {
  font-size: 18px;
  color: #22559a;
}

.team {
  text-align: center;
  padding: 2em 1em 2em 1em;
  justify-content: center;
}

.team .team-img {
  max-width: 350px;
  border-radius: 50%;
}

.team .team-member-name {
  margin-top: 1em;
  font-weight: 600;
  font-size: 32px;
}

.team .team-member-position {
  margin-top: 0.5em;
  font-size: 16px;
  font-weight: 300;
}

.custom-toggler.navbar-toggler {
  border-color: #F8F8F8;
}

.main {
  padding: 0.5em;
}

.main b {
  color: #22559c;
  font-weight: 400;
}

.main .main-txt {
  font-size: 18px;
  font-weight: 400;
}

.faq {
  padding: 0.5em;
}

.faq .faq-text {
  font-size: 18px;
}

.faq-question {
  font-weight: 400;
  color: black;
  text-align: center;
  font-size: 18px !important;
  justify-content: center;
}

.faq-question .faq-question-header {
  color: black !important;
  font-size: 18px;
}

.footer {
  padding: 1em;
  margin-top: 1em;
  text-align: center;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .intro h1 {
    font-size: 60px;
  }
  .intro h6 {
    font-size: 20px;
  }
  .intro h4 {
    font-size: 28px;
  }
  .intro img {
    max-width: 75%;
  }
  .intro .register-btn {
    padding: 1em 8em 0em 8em;
  }
  .intro .slack-btn {
    padding: 1em 7em 0em 7em;
  }
}
