@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.intro {
    text-align: center;
    padding: 2em;
    justify-content: center;

    h1 {
        font-weight: 600;
        font-size: 30px;
        color: #22559a;
        margin: 0em 0em 0em 0em;
    }
    h6 {
        font-size: 10px;
    }
    .register-btn {
        margin: 0.5em 0em 0em 0em;
        padding: 1em 5em 0em 5em;
        background-color: #22559c;
        border: #22559a 1px solid;
    }
    .register-btn-text {
        font-size: 18px;
    }
    img {
        max-width: 100%;
        margin: 0.5em 0em 0.5em 0em;
    }
    .intro-txt {
        font-size: 18px;
    }
    .slack-btn {
        margin: 0.5em 0em 0em 0em;
        padding: 1em 4em 0em 4em;
        background-color: #fff;
        border: #22559a 1px solid;
    }
    .slack-btn-text {
        font-size: 18px;
        color: #22559a;
    }
}

@media only screen and (min-width: 768px) {
    .intro {
        h1 {
            font-size: 60px;
        }
        h6 {
            font-size: 20px;
        }
        img {
            max-width: 75%;
        }
        .register-btn {
            padding: 1em 8em 0em 8em;
        }
        .slack-btn {
            padding: 1em 7em 0em 7em;
        }
    }
}
