@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Poppins', sans-serif;
}

.nav-item {
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: left !important;
}

.nav-link {
  padding: 1rem 1rem;
  display: inline-block;
}

a {
  color: #22559c;
}

a:hover {
  text-decoration: none;
}

.action {
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 1rem 1rem;
  border: 2px solid #494949 !important;
  display: inline-block;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.action:hover {
  color: #ffffff !important;
  background: #22559a;
  border-color: #22559a !important;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.subheading {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1em;
}

.title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0.3em 0em 2em 0em;
}

.intro {
  text-align: center;
  padding: 6em 1em 3em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro h1 {
  font-weight: 600;
  font-size: 36px;
  color: #22559a;
  margin: 0em 0em 0em 0em;
}

.intro h6 {
  font-size: 14px;
}

.intro .btns {
  font-weight: 400;
  border-radius: 10px;
  border: solid white 1px;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #22559c), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #22559c 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0.5em 0em 1em 0em;
  padding: 0.5em 2em 0.5em 2em;
  outline: none;
  color: #fff;
}

.intro .btns:hover {
  border: solid #22559c 1px;
  color: #22559c;
  background-position: right bottom;
}

.intro img {
  max-width: 100%;
  margin: 0.5em 0em 0.5em 0em;
}

.intro .intro-txt {
  margin-top: 2em;
  font-size: 18px;
}

.intro .slack-btn {
  margin: 0.5em 0em 0em 0em;
  padding: 1em 5em 0em 5em;
  background-color: #fff;
  border: #22559a 1px solid;
}

.intro .slack-btn-text {
  font-size: 18px;
  color: #22559a;
}

.quote {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.quote blockquote::before,
.quote blockquote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  opacity: 0.25;
  font-size: 36px;
  color: #22559a;
}

.quote blockquote::before {
  content: '\f10d';
  margin-top: -20px;
  margin-left: -30px;
}

.quote blockquote::after {
  content: '\f10e';
  margin-top: -10px;
  margin-left: -5px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
}

.mySlides blockquote {
  text-align: left;
}

.mySlides2 {
  display: none;
  padding: 80px;
}

.mySlides2 blockquote {
  text-align: left;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.team {
  text-align: center;
  padding: 2em 1em 2em 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .team-img {
  max-width: 200px;
  border-radius: 50%;
}

.team .team-member-name {
  margin-top: 1em;
  font-weight: 500;
  font-size: 20px;
}

.team .team-member-position {
  margin-top: -1em;
  font-size: 16px;
  font-weight: 300;
}

.custom-toggler.navbar-toggler {
  border-color: #F8F8F8;
}

.main {
  padding: 0.5em;
}

.main b {
  color: #22559c;
  font-weight: 400;
}

.main .main-txt {
  font-size: 18px;
  font-weight: 400;
}

.main .category {
  text-align: center;
}

.main .category-text {
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-shadow: 0 10px 6px -6px #767676;
          box-shadow: 0 10px 6px -6px #767676;
  background-color: #D7E8FF;
}

.faq {
  padding: 0.5em;
}

.faq .faq-text {
  font-size: 18px;
}

.faq-question {
  font-weight: 400;
  color: black;
  text-align: center;
  font-size: 18px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.faq-question .faq-question-header {
  color: black !important;
  font-size: 18px;
}

.footer {
  padding: 1em;
  margin-top: 1em;
  text-align: center;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .intro h1 {
    font-size: 60px;
  }
  .intro h6 {
    font-size: 20px;
  }
  .intro h4 {
    font-size: 28px;
  }
  .intro img {
    max-width: 75%;
  }
  .intro .register-btn {
    padding: 1em 8em 0em 8em;
  }
  .intro .slack-btn {
    padding: 1em 7em 0em 7em;
  }
}

/* donate */
ul h6 {
  display: inline-block;
  font-weight: 700;
}

.donate {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.donate .container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.donate .responsive-iframe {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */